---
import { client } from '@/lib/client'
import Layout from '@/layouts/Layout.astro'

const res = await client.api.hello.$get()
const { message } = await res.json()
---

<Layout>
  <h1>{message}</h1>
</Layout>
